@media (max-width: 1630px) {
  .home {
    background-position: 90% 30%;
    background-size: 50%;
  }
}
@media (max-width: 1440px) {
  html {
    font-size: 14px;
  }
  .wrapper {
    max-width: 1440px;
  }
  .menu__container {
    width: 100%;
  }
  .menu__content {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 11px;
  }
  .wrapper {
    max-width: 1200px;
  }
  .home {
    background-position: 90% 30%;
    background-size: 80%;
  }
  .home__content {
    width: 100%;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 11px;
  }
  .wrapper {
    max-width: 992px;
  }
  .header__nav {
    display: none;
  }
  .icon-burger {
    display: block;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 9px;
  }
  .wrapper {
    max-width: 600px;
  }
  .home__search input {
    width: 100%;
  }
  .home__searchBtn {
    width: 100%;
  }
}