@media (max-width: 1630px) {
  .home {
    background-position: 90% 30%;
    background-size: 50%;
  }
}
@media (max-width: 1440px) {
  html {
    font-size: 14px;
  }
  .wrapper {
    max-width: 1440px;
  }
  .menu__container {
    width: 100%;
  }
  .menu__content {
    width: 100%;
  }
  .banner__title {
    max-width: 550px;
    left: 60px;
  }
  .reservation {
    background-position: -20% -50%;
  }
  .reservation__img:nth-child(1) {
    display: none;
  }
  .reservation__img:nth-child(2) {
    bottom: 0;
    left: 10%;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 11px;
  }
  .wrapper {
    max-width: 1200px;
  }
  .home {
    background-position: 90% 30%;
    background-size: 90%;
  }
  .home__content {
    width: 100%;
  }
  .menu__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner__title {
    top: 60px;
    left: 0;
    min-width: 100%;
    padding: 0 150px;
  }
  .banner__menu, .banner__item, .banner__btnContainer {
    -webkit-transform: skew(0deg);
        -ms-transform: skew(0deg);
            transform: skew(0deg);
  }
  .banner__menu {
    width: 100%;
  }
  .banner__list {
    font-size: 3rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  .reservation {
    background-position: -100px -150px;
  }
  .reservation__img:nth-child(2) {
    bottom: 0;
    left: 6%;
  }
  .reservation__container {
    margin: 0 auto 76px;
  }
}
@media (max-width: 992px) {
  .wrapper {
    max-width: 992px;
  }
  .header {
    position: fixed;
    z-index: 10;
    left: 0;
  }
  .header__nav {
    display: none;
  }
  .home__content {
    padding-top: 15%;
  }
  .icon-burger {
    display: block;
  }
  .banner__title {
    top: 60px;
    left: 0;
    min-width: 100%;
    padding: 0 150px;
  }
  .banner__menu {
    border: none;
    min-width: 100%;
  }
  .banner__list {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  .reservation {
    background-image: url(../img/Gobi.png);
    background-position: right bottom;
  }
  .reservation__img:nth-child(2) {
    display: none;
  }
  .form {
    font-size: 2rem;
  }
  .form__container {
    margin-top: 70px;
  }
  .form__title {
    font-size: 3rem;
  }
  .form__text {
    font-size: 1.25rem;
  }
  .form__btn {
    width: 100%;
    margin-bottom: 50px;
  }
}
@media (max-width: 600px) {
  .wrapper {
    max-width: 600px;
  }
  .home__search input {
    width: 100%;
  }
  .home__searchBtn {
    width: 100%;
  }
  .banner__title {
    top: 40px;
    left: 0;
    min-width: 100%;
    padding: 0 40px;
    font-size: 3rem;
  }
  .banner__title--orange--big {
    font-size: 4rem;
  }
  .banner__menu {
    padding: 200px 1.9rem 50px;
  }
  .banner__item {
    margin-left: 0;
    font-size: 2.25rem;
  }
  .banner__btnContainer {
    margin-top: 50px;
  }
  .banner__btnContainer a {
    width: 100%;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 9px;
  }
}