//1630
@media(max-width: 1630px) {
    .home {
        background-position: 90% 30%;
        background-size: 50%;
    }
}

//1440
@media(max-width: 1440px) {
    html {
        font-size: 14px;
    }

    .wrapper {
        max-width: 1440px;
    }

    .menu {
        &__container {
            width: 100%;
        }

        &__content {
            width: 100%;
        }
    }

    .banner {
        &__title {
            max-width: 550px;
            left: 60px;
        }
    }
    .reservation{
        background-position: -20% -50%;
        &__img {

            &:nth-child(1) {
                display: none;
            }
            &:nth-child(2) {
                bottom: 0;
                left: 10%;
            }
    
    }
}
}

//1200
@media(max-width: 1200px) {
    html {
        font-size: 11px;
    }

    .wrapper {
        max-width: 1200px;
    }

    .home {
        &__content {
            width: 100%;
        }

        background-position: 90% 30%;
        background-size: 90%;
    }

    .menu__body {
        justify-content: center;
    }

    .banner {
        &__title {
            top: 60px;
            left: 0;
            min-width: 100%;
            padding: 0 150px;
        }

        &__menu,
        &__item,
        &__btnContainer {
            transform: skew(0deg);
        }

        &__menu {
            width: 100%;
        }

        &__list {
            font-size: 3rem;
            width: fit-content;
            margin: 0 auto;
        }
    }
        .reservation {
            background-position: -100px -150px;
            &__img {
                   
                &:nth-child(2) {
                    bottom: 0;
                    left: 6%;
                }
    
            }
            &__container {
                margin: 0 auto 76px;
            }
        }
        
}

//1024
@media(max-width: 1024px){
    .order{
        &__content{
            flex-wrap: wrap;
            justify-content: center;
            gap: 70px;
        }
    }
}
//992
@media(max-width: 992px) {

    .wrapper {
        max-width: 992px;
    }
    .header{
        position: fixed;
        z-index: 10;
        left: 0;
        &__nav {
                display: none;
            }
        .icon-close {
            display: flex;
        }
    }
    .home{
        &__content{padding-top: 15%;}
    }
    
    
    .icon-burger {display: flex;}
    
    .banner {
        &__title {
            top: 60px;
            left: 0;
            min-width: 100%;
            padding: 0 150px;
        }

        &__menu {border: none; min-width: 100%;}

        &__list {width: fit-content; margin: 0 auto;}
    }
        .reservation {
            background-image: url(../img/Gobi.png);
            background-position: right bottom;
            &__img {&:nth-child(2) {display: none;}}
        }
        .form{
            font-size: 2rem;
            &__container { margin-top: 70px;}
            &__title{font-size: 3rem;}
            &__text{font-size: 1.25rem;}
            &__btn{width: 100%; margin-bottom: 50px;}
        }
}

//600
@media(max-width: 600px) {
  
    .wrapper {max-width: 600px;}

    .home {
        &__search {input {width: 100%;}}
        &__searchBtn {width: 100%;}}

    .banner {
        &__title {
            top: 40px;
            left: 0;
            min-width: 100%;
            padding: 0 40px;
            font-size: 3rem;
        }

        &__title--orange--big {font-size: 4rem;}

        &__menu {padding: 200px 1.9rem 50px;}

        &__item {
            margin-left: 0;
            font-size: 2.25rem;
        }

        &__btnContainer {
            margin-top: 50px;
            a {width: 100%;}
        }

    }
    .order{
        &__headerLinks{
            margin-right: 0;
            gap: 30px;
            font-size: 2.5rem;
            span {
                    display: none;
                }
        }
        &__container{
            padding: 30px 1.9rem;
        }
        &__content{
            gap: 0px;
        }
        &__form {
            max-width: 100%;
        }
        &__account-accordion, &__address-accordion, &__payment-accordion{
            margin-bottom: 20px;
            button{
                width: 100%;
            }
            label{
                max-width: 100%;
            }
        }

        &__account, &__address,
            &__payment {
        padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__accountText{
            text-align: center;
            max-width: 200px;
        }
        &__btns{
            width: 100%;
            gap: 10px;
            flex-direction: column;
            button{
                width: 100%;
                font-size: 1.25rem;
                flex-direction: row;
                gap: 30px;
                padding: 10px;
            }
        }
        &__icon {
            
            left: -15px;
            top: -15px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            font-size: 30px;
    }
        &__button{
            width: 100%;
        }
        
    }
        .icon-card {
            font-size: 20px;
        }
    .bill{
        &_title {
            font-size: 2rem;
        }
        &__list{
            font-size: 1.5rem;
        }
        &__deliveryPrice {
            font-size: 1.5rem;
        }
        &__toPay {
            font-size: 2.5rem;
        }
        &__toPayPrice {
            font-size: 2.5rem;
        }
    }
}

// 320
@media(max-width: 320px) {
    html {
        font-size: 9px;
    }
}