// variables color
// day

$bg-night: #F4F4F4;
$bg-main-transp: rgba(244, 244, 244, 0.85);
$small-bg: #FFFFFF;
$bg-contactForm: rgba(217, 217, 217, 0.59);
$bg-orderForm:  rgba(217, 217, 217, 0.59);
$header-transparency: #212121;

$border4: rgba(255, 255, 255, 0.4);
$border5: rgba(255, 255, 255, 0.5);

$main-txt: #FF5B00;
$secondary-txt: #7B3000;
$third-txt: #1E1E1E;
$fourth-txt: #DDDDDD;
$white-color-txt: #FFFFFF;

$coast: #FF4141;
$add: #3E5440;
$message-link: #F461A8;
$free: #026F0D;
$line-border: rgba(0, 0, 0, 0.67);
$line2: #000000;
$oblique-line: #FF8C42;

$icons-clr: #FF5B00;

$add-btn: #D9D9D9;
$active-btn: #b2b0ae;

%flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

%orderForm {
    background: $bg-orderForm;
    backdrop-filter: blur(1px);
    border-radius: 10px;
    border: none;
    box-shadow: 10px 19px 30px 5px rgba(0, 0, 0, 0.25);
}

.header {
    background: $bg-night;
    color: $main-txt;
    &__logo {
        color: $main-txt;
    }

    &__navItem {
        a {
            color: inherit;
        }
    }
        &__icon, #toggle1{
            &:active {
                    background: $active-btn;
                    transition: 0.1s;
                }
        }
     
}

.home {
    background: $bg-night;
    color: $main-txt;
    background-image: url(../img/mask.png);
    background-repeat: no-repeat;
    background-position: 90% 10%;
    &__content{
        background: $bg-main-transp;
    }
    &__search {
        input {
            border: 4px solid $main-txt;
            color: $third-txt;
        }
    }

    &__searchBtn {
        color: $white-color-txt;
        background: $main-txt;
        border: 4px solid $main-txt;
    }

    &__btn {
        background: $main-txt;
        color: $white-color-txt;
    }

}

.menu {
    background: $bg-night;
    background-image: url(../img/Pizza.png);
    background-repeat: no-repeat;
    background-position: 0 60%;

    &__content {
        color: $secondary-txt;
        background: $bg-main-transp;
        
    }

    &__title {
        color: $main-txt;
    }

    &__btn {
        color: $white-color-txt;
        background: $main-txt;
    }
}

.banner {
    background: $bg-night;
    background-image: url(../img/hands-taking-pizza.png);
        background-repeat: no-repeat;
        background-position: left bottom;
    color: $secondary-txt;

    &__menu{
        border-left: 25px solid $main-txt;
        background: $bg-main-transp;
    }

    &__title {
        color: $third-txt;
    }

    &__title--orange {
        color: $main-txt
    }

    &__title--orange--big {
        color: $main-txt
    }

    &__btnContainer {
        a {
            background: $main-txt;
            color: $white-color-txt;
        }
    }
}

.reservation {
    background: $bg-night;
    background-image: url(../img/Capcicum.png);
    background-repeat: no-repeat;
    background-position: 60% 10%;
    color: $third-txt;

    &__form {
        background: $bg-contactForm;
        @extend %orderForm;
    }
}

.form {
    &__container {
        input {
            border-bottom: 2px dashed $third-txt;
            color: $third-txt;
        }
    }
    &__title {
        color: $main-txt;
    }

    &__text {
        a {
            color: inherit;
        }
    }

    &__btn {
        background: $main-txt;
        color: inherit;
    }
}

.order {
    background: $bg-night;
    background-image: url(../img/Pizza-slice.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    color: $third-txt;

    &__header {
        background: $header-transparency;
    }

    &__headerLinks {
        a {
            color:$white-color-txt;
        }
    }

    &__account {
        @extend %orderForm;
    }

    &__logBtn,
    &__signBtn {
        border: 1px solid $main-txt;
        @extend %flexcenter;
        color: inherit;
        span {
            color: $main-txt;
        }
    }

    &__icon {
        background: $third-txt;
        color: $icons-clr;
        @extend %flexcenter;
    }
         &__account-accordeon {
             border-bottom: 1px solid $main-txt;
         }
        &__account-login {
            background: #d8d7d73b;
            backdrop-filter: blur(1px);
        }
    
        &__login-form {
            button {
                background: $main-txt;
            }
    
            input {
                border: 1px solid $main-txt;
            }
        }

    &__address {
        background: $bg-orderForm;
        @extend %orderForm;
    }

    &__payment {
        background: $bg-orderForm;
        @extend %orderForm;
    }

    &__form {
        @extend %orderForm;
    }
        &__button {
            background: $main-txt;
            color: $white-color-txt;
        }
}

.orderBlock {
    border-left: 3px solid $main-txt;

    &__promocode {
        color: $main-txt;
        span {
            color: $third-txt;
        }
    }

    &__name {
        color: $main-txt;
        div:last-child {
            color: $third-txt;
        }
        span {
            color: $main-txt;
        }
    }

    &__add {
        background: $add-btn;
        color: $add;
        div {
            @extend %flexcenter;
        }
    }

    &__cost {
        color: $coast;
    }

    &__link {
        color: $message-link;
    }
}

.bill {

    &_title {
        color: $main-txt;
    }

    &__delivery {
        border-bottom: 3px solid $line-border;
    }

    &__deliveryFree {
        color: $free;
    }

    &__discount {
        border-bottom: 3px solid $line-border;
    }

    &__discountPrice {
        color: $free;
    }

    &__tax {
        border-bottom: 3px solid $line2;
    }

    &__taxPrice {
        color: $line2;
    }

}
.visible {
  

    .header__menu {
       

        .header__navItem {
            & a {
                background: $bg-night;
                border: 1px solid $main-txt;
                &:hover, &:active {
                        background: $active-btn;
                        transition: 0.3s;
                    }
                }
        }
    }
}

