/* quicksand-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/quicksand-v30-latin-regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/quicksand-v30-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/quicksand-v30-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/quicksand-v30-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/quicksand-v30-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/quicksand-v30-latin-regular.svg#Quicksand') format('svg');
    /* Legacy iOS */
}

/* quicksand-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/quicksand-v30-latin-500.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/quicksand-v30-latin-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/quicksand-v30-latin-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/quicksand-v30-latin-500.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/quicksand-v30-latin-500.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/quicksand-v30-latin-500.svg#Quicksand') format('svg');
    /* Legacy iOS */
}

/* quicksand-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/quicksand-v30-latin-600.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/quicksand-v30-latin-600.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/quicksand-v30-latin-600.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/quicksand-v30-latin-600.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/quicksand-v30-latin-600.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/quicksand-v30-latin-600.svg#Quicksand') format('svg');
    /* Legacy iOS */
}

/* quicksand-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/quicksand-v30-latin-700.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/quicksand-v30-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/quicksand-v30-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/quicksand-v30-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/quicksand-v30-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/quicksand-v30-latin-700.svg#Quicksand') format('svg');
    /* Legacy iOS */
}

/* kosugi-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Kosugi';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/kosugi-v14-latin-regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/kosugi-v14-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/kosugi-v14-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/kosugi-v14-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/kosugi-v14-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/kosugi-v14-latin-regular.svg#Kosugi') format('svg');
    /* Legacy iOS */
}

/* kaushan-script-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/kaushan-script-v14-latin-regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/kaushan-script-v14-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/kaushan-script-v14-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/kaushan-script-v14-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/kaushan-script-v14-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/kaushan-script-v14-latin-regular.svg#KaushanScript') format('svg');
    /* Legacy iOS */
}