@font-face {
    font-family: 'icons';
    src:
        url('../fonts/icons.ttf?alpevb') format('truetype'),
        url('../fonts/icons.woff?alpevb') format('woff'),
        url('../fonts/icons.svg?alpevb#icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-burger:before {
    content: "\e900";
}

.icon-magnifier:before {
    content: "\e901";
}

.icon-card:before {
    content: "\e902";
}

.icon-marker:before {
    content: "\e903";
}

.icon-user:before {
    content: "\e904";
}

.icon-user-add:before {
    content: "\e905";
}

.icon-question:before {
    content: "\e906";
}

.icon-night:before {
    content: "\e907";
}

.icon-day:before {
    content: "\e908";
}

.icon-pizza:before {
    content: "\e909";
}