// variables color
// night
$bg-night:#151515;
$small-bg: #FFFFFF;
$bg-transparency5: rgba(255, 255, 255, 0.05);
$bg-transparency2: rgba(255, 255, 255, 0.2);
$header-transparency: rgba(255, 255, 255, 0.05);

$border4: rgba(255, 255, 255, 0.4);
$border5: rgba(255, 255, 255, 0.5);

$main-txt: #FF8C42;
$secondary-txt: #FFDDC8;
$third-txt: #FFFFFF;
$fourth-txt: #DDDDDD;

$coast: #FF4141;
$add: #019310;
$message-link: #F461A8;
$free: #28F83D;
$line-border: #747474;
$line2: #000000;
$oblique-line: #FF8C42;

$icons-clr: #FF5B00:

$add-btn: #D9D9D9;

//day
// $bg-day:#F4F4F4;
// $bg-card: #D9D9D9;
// $bg-transparency59: rgba(217, 217, 217, 0.59);
// $bg-header: #212121;

// $main-txt: #FF5B00;
// $secondary-txt: #7B3000;
// $third-txt: #1E1E1E;

// $add: #3E5440;
// $free: #026F0D;
// $line-border: rgba(0, 0, 0, 0.67);
